*{
    margin: 0;
    padding: 0;
}

body {
    line-height: normal;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
  }
  ul li{
    list-style: none;
  }
  h1,h2,h3,h4,h5,h6, p{
    margin: 0;
    padding: 0;
  }
  :root {
    /* fonts */
    --font-lato: 'Lato', sans-serif;;
    --font-oswald: 'Oswald', sans-serif;;
  
    /* font sizes */
    --font-size-xl: 13.563rem;
    --font-size-lgi: 3.2rem;
    --font-size-ml: 2rem;
    --font-size-base: 1.6rem;
    --font-size-xs: 1.2rem;
  
    /* Colors */
    --light-text: #fefeff;
    --midnight-blue:#414f6b;
    --dark: #000000;
    --white: #ffffff;

  }
  
/* Common CSS classes start */

.d-flex{
  display: flex;
}
.flex-row{
  flex-direction: row;
}
.flex-column{
  flex-direction: column;
}
.justify-content-between{
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}
/* Common CSS classes end*/