*{
    margin: 0;
    padding: 0;
}

body {
    line-height: normal;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
  }
  ul li{
    list-style: none;
  }
  h1,h2,h3,h4,h5,h6, p{
    margin: 0;
    padding: 0;
  }
  :root {
    /* fonts */
    --font-lato: 'Lato', sans-serif;;
    --font-oswald: 'Oswald', sans-serif;;
  
    /* font sizes */
    --font-size-xl: 13.563rem;
    --font-size-lgi: 3.2rem;
    --font-size-ml: 2rem;
    --font-size-base: 1.6rem;
    --font-size-xs: 1.2rem;
  
    /* Colors */
    --light-text: #fefeff;
    --midnight-blue:#414f6b;
    --dark: #000000;
    --grayish-blue:#b0b4be;
    --white: #ffffff;
  
    /* Gaps */
    --gap-xl: 2rem;
    --gap-3xs: 1rem;
    --gap-sm: 1.4rem;
    --gap-7xs: .6rem;
    --gap-11xs: .2rem;
    --gap-0: 0px;
    --gap-9xs: .4rem;
  
    /* Paddings */
    --padding-xs: 1.2rem;
    --padding-11xl: 3rem;
    --padding-xl: 2rem;
    --padding-2xs: 1.1rem;
    --padding-base: 1.6rem;
    --padding-11xs: .2rem;
    --padding-7xs: .6rem;
    --padding-6xs: .7rem;
    --padding-sm: 1.4rem;
    --padding-8xs: .5rem;
    --padding-5xs: .8rem;
    --padding-3xs: 1rem;
    --padding-smi: 1.3rem;
    --padding-mid: 1.7rem;
  
    /* Border radiuses */
    --br-7xs: .6rem;
    --br-3xs: 1rem;
    --br-smi: 1.3rem;
    --br-9xs: .4rem;
  }
  
/* Common CSS classes start */

.d-flex{
  display: flex;
}
.flex-row{
  flex-direction: row;
}
.flex-column{
  flex-direction: column;
}
.justify-content-between{
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}
/* Common CSS classes end*/